<p id="notice"><%= notice %></p>




<div class="row">
  <% @contents.each do |content| %>
  <div class="col l3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
       <%= image_tag content.cover.url, class:"activator" %>
     </div>
     <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= content.titolo %><i class="material-icons right">more_vert</i></span>
      <div>
      <span>Venduto da <%= content.user.name if content.user %></span><br>
        <span class="right"><%= number_to_currency(content.price) %></span>
      </div><br>
      
      <div class="center"><%= link_to 'scopri di più', content , class:"btn" %></div>
      <div class="center">
        <%  if current_user == content.user %>
        <br>
        <%= link_to 'Edit', edit_content_path(content) %>
        <%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= content.titolo %><i class="material-icons right">close</i></span>
      <p><%= content.decrizione %></p>
    </div>
  </div>
</div>
<% end %>
</div>
<div class="center ">
<%= will_paginate @contents  %>
</div>
 <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>



