<p id="notice"><%= notice %></p>

<h1>Listing Contents</h1>

<table>
  <thead>
    <tr>
      <th>Titolo</th>
      <th>Decrizione</th>
      <th>email</th>
      <th>Price</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
    <tr>
      <td><%= content.titolo %></td>
      <td><%= content.decrizione %></td>
      <td><%= content.price %></td>
      <td><%= content.user.email if content.user %></td>
      <td><%= link_to 'Show', content %></td>
      <%  if current_user == content.user %>
      <td><%= link_to 'Edit', edit_content_path(content) %></td>
      <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content', new_content_path %>
